body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(80, 80, 80);
}

div {
    display: block;
    overflow: auto;
}

header {
    display: block;
    width: 90%;
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: darkgray;
  }