body {
  font-family: Helvetica, sans-serif;
  background-color:#082032;
}

div {
  display: block;
  overflow: auto;
}

header {
  display: block;
  width: 90%;
  height: 100px;
}

img {
  max-width: 200px;

}

h1 {
  color: rgb(240, 165, 0, 0.8);

}

h2 {
  color: rgb(255, 76, 41, 0.8);
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;

}

p {
  text-align: left;
  color: #F4F4F4;
  margin: 10px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}
  
li {
  float: left;

}
  
li a {
  display: block;
  color: #FF4C29;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14pt;
}
  
li a:hover {
  color:#F0A500;

}

section {
  display: block;
  flex-wrap: wrap;

}

.outer-box {
  width: 80%;
  justify-content: center;
  height: fit-content;
  border-style: solid;
  border-width: thin;
  border-color: #2C394B;
  margin: 20px auto;
  padding: 0px 20px;

}

#name-heading {
  font-size: clamp(25px, 5vw, 50px);
  margin-left: 30px;

}
